@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: #171717;
}

header {
    background-color: #282828;
    color: #FFFFFF;
    /* padding: 1rem; */
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 20px;
}

ul {
    list-style: none;
}

.navegacion ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: #171717;
    margin: 0;
    /* padding: 10px; */
}

.navegacion ul li {
    color: #04BF68;
}

.navegacion ul li:hover {
    color: #40ec9c;
}

/* -------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 720px;
}

h2 {
    color: #FFFFFF;
    padding: 0 20px;
}

.elem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    list-style: none;
    width: 100%;
}

.elem {
    font-size: 1.17em;
    font-weight: bold;
    width: 100%;
    color: #FFFFFF;
    padding: 20px 0px;
    margin: 5px 0;
    background-color: #282828;
    transition: transform 0.2s, box-shadow 0.2s;
}

.elem:hover {
    transform: translate(5px, -5px);
    box-shadow: -5px 5px #04BF68;
    background-color: #404040;
}

.elem span {
    padding: 20px 30px;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    border: rgba(4, 191, 104, 0.5) 1px solid;
}

.texto {
    font-size: 1.17rem;
    color: #FFFFFF;
    /* text-shadow: black 1px 1px 1px; */
    font-weight: 400;
}

.link {
    font-size: 1.17rem;
    text-shadow: black 1px 1px 1px;
    color: #04BF68;
    padding: 15px 0;
    align-self: flex-start;
}

.link:hover {
    /* color: #04BF68; */
    /* color: #171717; */
    text-shadow: #40ec9c 0 0 5px;
    text-shadow: #04BF68 0 0 5px;
}

.recuadro {
    color: #171717;
    padding: 15px;
    background-color: #04BF68;
    font-size: 1.17rem;
}

i {
    padding: 0 15px;
}

.video {
    width: 80%;
    height: 320px;
    border-radius: 15px;
    /* box-shadow: #000000 0 0 10px; */
    border: rgba(4, 191, 104, 0.5) 2px solid;
}

footer {
    color: #04BF68;
    background-color: #282828;
    text-align: center;
    padding: 20px;
}

/* Móviles */
@media (max-width: 600px) {
    .main-container {
        width: 90%;
    }
    .recuadro {
        font-size: 1rem;
    }
  }
  
  /* Tabletas */
  @media (min-width: 601px) and (max-width: 1023px) {
    .main-container {
        width: 70%;
    }
  }
  
  /* Laptops y pantallas medianas */
  @media (min-width: 1024px) and (max-width: 1440px) {
    .main-container {
        width: 70%;
    }
  }
  
  /* Pantallas grandes */
  @media (min-width: 1441px) {
    .main-container {
        width: 50%;
    }
  }
  